@model EVisaApplicationSystem.Models.User

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/Content/MyCSSStyle/EditProfile.css" rel="stylesheet" />
@using (Html.BeginForm("UpdateUserProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="account-wrapper">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center position-relative">
                            <div class=" d-flex align-items-center justify-content-center">
                                <img src="@Url.Content("~/UserProfileImages/" + Path.GetFileName(Model.ImagePath))" alt="avatar" class="profile-pic" />
                            </div>
                            <p class="my-3"> Image upload</p>
                            <div class="form-group">
                                <div class="custom-file align-items-center">
                                    <input type="file" class="custom-file-input" id="imageFile" name="ImageFile" />
                                </div>
                            </div>
                            <div class="d-flex align-items-center mt-2">
                                <a href="@Url.Action("GetUserById", "User")" class="btn btn-outline-danger ms-1">Cancel</a>
                                <button type="submit" class="btn btn-outline-primary ms-1">Update Profile</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 form-section">

                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">First name</p>
                                </div>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", id = "fname", onfocusout = "CheckFirstName()", required = "required" } })

                                    <small></small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Last name</p>
                                </div>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", id = "lname", onfocusout = "CheckLastName()", required = "required" } })
                                    <small></small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Gender</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">

                                        @Html.RadioButtonFor(model => model.Gender, "male", new { htmlAttributes = new { @class = "form-check-input", id = "malegender", required = "required" } })
                                        <label class="form-check-label" for="malegender">Male</label>
                                        @Html.RadioButtonFor(model => model.Gender, "female", new { htmlAttributes = new { @class = "form-check-input", id = "femalegender", required = "required" } })
                                        <label class="form-check-label" for="femalegender">Female</label>
                                    </p>

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Date of birth</p>
                                </div>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Dateofbirth, new { htmlAttributes = new { @class = "form-control ", @type = "date", id = "dateofbirth", onfocusout = "CheckDateOfBirth()", required = "required" } })
                                    <small></small>

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control ", id = "emailid", onfocusout = "CheckEmail()", required = "required" } })
                                    <small></small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone number</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">
                                        @Html.EditorFor(model => model.Phonenumber, new { htmlAttributes = new { @class = "form-control ", id = "phonenumberid", onfocusout = "CheckPhoneNumber()", required = "required" } })
                                        <small></small>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address</p>
                                </div>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control ", id = "address", onfocusout = "CheckAddress()", required = "required" } })
                                    <small></small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">State</p>
                                </div>
                                <div class="col-sm-9">

                                    @Html.DropDownListFor(model => model.State, new SelectList(ViewBag.States, "Statesvalue", "Statesname"), "Select state", htmlAttributes: new { @id = "state", @class = "form-control form-control-lg" })
                                    <small></small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">City</p>
                                </div>
                                <div class="col-sm-9">
                                    @Html.DropDownListFor(model => model.City, new SelectList(""), "Select city", htmlAttributes: new { @id = "city", @class = "form-control form-control-lg" })
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                </div>
                                <div class="col-sm-9">
                                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control ", id = "address", onfocusout = "CheckAddress()", required = "required" } })
                                    <small></small>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Password</p>
                                </div>
                                <div class="col-sm-9">
                                    *****************
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">   <button type="submit" class="btn btn-outline-primary" onclick="CheckValidation">Update Profile</button> </p>
                                </div>
                            </div>
                            <hr>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

}
<script src="~/Scripts/MyJS/EditUserProfile.js"></script>





















<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // When the state dropdown menu changes
        $("#state").change(function () {
            // Send a GET request to the server endpoint "/User/Getcity" with the selected state value
            $.get("/User/Getcity", { Statevalue: $("#state").val() },
                function (data) {
                    // Clear the options of the city dropdown menu
                    $("#city").empty();
                    // Iterate over the received data
                    $.each(data, function (index, row) {
                        // Append an option element with the city value and name to the city dropdown menu
                        $("#city").append("<option value='" + row.Cityvalue + "'>" + row.Cityname + "</option>");
                    });
                });
        });
    });
</script>
















